.author {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-bottom: 1rem;
  place-items: center;
  justify-content: flex-start;
}

.author .author-label {
  color: #333;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin-right: 0.3rem;
}

.author .author-name {
  color: #333d;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 320px) {
  .author .author-label,
  .author .author-name {
    text-align: left;
    margin-top: 0.4rem;
  }
}
