.about {
  width: 100%;
  padding-top: 7rem;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
  height: fit-content;
}

.about .head {
  color: #222;
  font-size: 38px;
  margin-top: 2rem;
  margin-bottom: 20px;
}

.about span {
  color: #399df0;
}

.about .aboutText {
  color: #222;
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
  letter-spacing: 1px;
  font-family: Ubuntu;
}

/* FOUNDING EDITORS */
.editors {
  display: flex;
  flex-wrap: wrap;
  place-items: flex-start;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .about {
    padding-left: 13%;
    padding-right: 13%;
  }
}

@media only screen and (max-width: 426px) {
  .about {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5rem;
  }

  .about .head {
    font-size: 30px;
  }

  .about .aboutText {
    font-size: 16px;
  }
}
