.hero-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  background-image: url("../img/dark-leaves.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container .bg-tint {
  width: 100%;
  min-height: 100vh;
  background-color: #0004;
}

@media only screen and (max-width: 786px) {
  .hero-container {
    background-size: contain;
    background-repeat: repeat;
  }
}
