* {
  transition-duration: 0.7s;
}

.navbar-container {
  width: 100%;
  height: auto;
  display: flex;
  place-items: center;
  justify-content: center;
}

.navbar-container .navbar-border {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 2rem;
  place-items: center;
  justify-content: space-between;
}

.navbar-container .logo-area {
  display: flex;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 3%;
  width: fit-content;
  height: fit-content;
  place-items: center;
  padding-right: 0.6rem;
  letter-spacing: 0.08rem;
  border: 1px solid #444a;
  background-color: #4449;
  justify-content: flex-start;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0;
}

.navbar-container .logo-area .profile-name {
  margin-right: 0.5rem;
}

.navbar-container .logo-area .profile-name span {
  font-weight: 700;
}

.navbar-container .navitem-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  border: 1px solid #444a;
  justify-content: flex-end;
  background-color: #4449;
  border-top-left-radius: 10px;
  padding: 1.2rem 5% 1.2rem 1rem;
  border-bottom-left-radius: 10px;
  border-right: 0;
}

.navbar-container .burger-container {
  margin-right: 5%;
  border-radius: 4px;
  border: 1px solid #4449;
  background-color: #444a;
}

.navbar-container .burger-container div,
.navbar-container .burger-container div::before,
.navbar-container .burger-container div::after {
  border-radius: 10px;
}

@media only screen and (max-width: 426px) {
  .navbar-container .navbar-border {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: #3336;
    border: 1px solid #5556;
  }

  .navbar-container .logo-area {
    border: none;
    background-color: transparent;
  }

  .navbar-container .logo-area .profile-name {
    display: none;
  }
}
