* {
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  margin-bottom: 1vh;
  background-color: #fff;
  box-shadow: 0 3px 10px #2222;
}

.navbar .container .navbar-brand {
  cursor: pointer;
  color: #368dd6;
  font-style: italic;
  font-weight: bolder;
}

.navbar .container .navbar-collapse {
  width: 100%;
  flex-grow: 0;
  justify-content: space-between;
}

.navbar .container .navbar-collapse .searchBar {
  width: 90%;
  height: 2.3rem;
}

.navbar .container .navbar-collapse .searchBar form {
  width: 100%;
}

.navbar .container .navbar-collapse form input {
  width: 18vw;
  color: #333;
  margin-left: 2vw;
  font-size: 0.9rem;
  border-right: none;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
  border-top: 1px solid #3336;
  border-left: 1px solid #3336;
  border-bottom: 1px solid #3336;
}

.navbar .container .navbar-collapse form input:focus {
  outline: none;
  box-shadow: none;
  border-right: none;
  border-top: 1px solid #368dd6aa;
  border-left: 1px solid #368dd6aa;
  border-bottom: 1px solid #368dd6aa;
}

.navbar .container .navbar-collapse .searchBar form .search-button {
  height: 2.3rem;
  padding: 0.45rem;
  border-radius: 50%;
  border-left: none;
  margin-left: -0.6rem;
  transition-duration: 0.3s;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  border-top: 1px solid #3336;
  border-right: 1px solid #3336;
  border-bottom: 1px solid #3336;
}

.navbar .container .navbar-collapse form input:focus ~ .search-button {
  border-left: none;
  border-top: 1px solid #368dd6aa;
  border-right: 1px solid #368dd6aa;
  border-bottom: 1px solid #368dd6aa;
}

.navbar .container .navbar-collapse .new-post {
  width: 100%;
  border: none;
  font-size: 0.8rem;
  margin-right: 1vw;
  border-radius: 4px;
  background-color: #368dd6;
}

.navbar .container .navbar-collapse a {
  display: flex;
  font-size: 0.8rem;
  place-items: center;
  justify-content: center;
}

.navbar .container .navbar-collapse .new-post:hover {
  background-color: #146bb4;
}

.navbar .container .navbar-collapse .user-icon {
  border-radius: 50%;
  background-color: #2e2d2e;
  border: 1px solid #111111;
  transition: all 0.3s ease-in-out;
}

.navbar .container .navbar-collapse .user-icon:hover {
  transform: scale(1.05);
}

.navbar .container .navbar-collapse .dropdown-toggle::after {
  display: none;
}

.navbar .container .navbar-collapse .login-button {
  width: 100%;
  border: none;
  color: #fff;
  margin-left: 2rem;
  font-size: 0.85rem;
  border-radius: 50px;
  background-color: #368dd6;
}

.navbar .container .navbar-collapse .login-button:hover {
  background-color: #146bb4;
}

@media only screen and (max-width: 768px) {
  .navbar .container .navbar-collapse .searchBar {
    width: 100%;
    margin-top: 2rem;
  }

  .navbar .container .navbar-collapse .searchBar input {
    margin-left: 0;
  }

  .navbar .container .navbar-collapse .login {
    margin-top: 1rem;
  }

  .navbar .container .navbar-collapse .login-button {
    margin: 0;
  }
}
