.not-found {
  width: 100%;
  display: flex;
  min-height: 100vh;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/dark-leaves.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
}

.not-found .illustration {
  display: flex;
  margin-top: 3rem;
  place-items: center;
  flex-direction: column;
  letter-spacing: 0.8rem;
  justify-content: center;
}

.not-found .page-404 {
  font-size: 25rem;
  font-weight: 700;
  text-align: center;
  color: #abb9bf44;
  position: absolute;
  letter-spacing: 0.5rem;
}

.not-found .page-not-found {
  color: #fff;
  margin: 1rem 0;
  cursor: default;
  font-size: 42px;
  font-weight: 600;
}

.not-found .back-button {
  color: #fff;
  background-color: #fff1;
}

.not-found .back-button:hover {
  background-color: #fff3;
}

@media only screen and (max-width: 768px) {
  .not-found {
    background-size: contain;
    background-repeat: repeat;
  }
  .not-found .page-404 {
    font-size: 15rem;
  }

  .not-found .illustration {
    letter-spacing: 0.3rem;
  }
}

@media only screen and (max-width: 500px) {
  .not-found .page-404 {
    font-size: 9rem;
  }
  .not-found .page-not-found {
    font-size: 24px;
  }
}

@media only screen and (max-width: 320px) {
  .not-found .page-404 {
    font-size: 8rem;
  }
  .not-found .page-not-found {
    font-size: 18px;
  }
}
