.extended-nav {
  width: 100%;
  padding: 1rem;
  z-index: 2022;
  height: 100vh;
  position: fixed;
  padding-top: 0.5rem;
  flex-direction: column;
  background-color: #ffffff;
}

.extended-nav .close-button-container {
  display: flex;
  padding: 0 7.5%;
  place-items: center;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.extended-nav .close-button-container .close-button {
  border-radius: 50%;
}

.extended-nav .close-button-container .close-button:hover {
  background-color: #2222;
}

.extended-nav .extended-nav-items {
  display: flex;
  padding: 0 12%;
  flex-wrap: wrap;
  flex-direction: column;
  place-items: flex-start;
  justify-content: stretch;
}
@media only screen and (max-width: 768px) {
  .extended-nav .close-button-container {
    padding: 0 3%;
  }
}
