.extended-nav-link {
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
  transition-duration: 0.4s;
}

.extended-nav-link:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .extended-nav-link {
    font-size: 1rem;
    margin: 0.15rem 0;
  }
}
