.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  cursor: default;
  padding: 0.7rem 0;
  font-size: 15px;
  font-size: 0.9rem;
  text-align: center;
  position: relative;
  background-color: #368dd6;
}

.footer .footerLogoLink {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
}

.footer .footerLogoLink:hover {
  cursor: pointer;
  text-decoration: underline;
}
