@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "monospace", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#active {
  font-weight: 800 !important;
}

#active span.page-title {
  color: #81c418 !important;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #363636;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #464646;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #3b3b3b;
}

*::-webkit-scrollbar-track {
  background-color: #161616;
}

#profile-image {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url("https://res.cloudinary.com/allwells/image/upload/v1662116854/Portfolio/profile_x62lt4.png") !important;
}

#layout-bg {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-image: url("https://res.cloudinary.com/allwells/image/upload/v1662116888/Portfolio/pattern_x9hqpf.jpg") !important;
}

/* Random Images */
/* "https://api.lorem.space/image/fashion?w=1000&h=800" */
