.homeIntro {
  align-self: center;
  height: 100%;
  margin-top: 1.5em;
  padding: 3em 20em;
}

.homeIntro p {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #adbac7;
}

.profileParent {
  display: flex;
  justify-content: center;
  place-items: center;
}

.profileBorder {
  width: fit-content;
  border-radius: 50%;
}

.profile {
  border-radius: 50%;
}
