* {
  font-family: "Ubuntu" sans-serif;
}

.editpost-container {
  min-height: calc(100vh - 34px);
}

.editpost-container .container {
  display: flex;
  padding-top: 3vh;
  align-items: center;
  padding-bottom: 12vh;
  justify-content: center;
}

.editpost-container .container .card {
  width: 60%;
  border: none;
  padding: 1rem;
  border-radius: 7px;
  background-color: transparent;
}

.editpost-container .container .card .heading {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

/* input type file */
.editpost-container .container .card form label {
  font-weight: 500;
  font-size: 1.1rem;
}

.editpost-container .container .card form .img-preview {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.editpost-container .container .card form .img-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editpost-container .container .card form .remove-image {
  width: 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  background-color: #f44336;
}

.editpost-container .container .card form .remove-image:hover {
  background: #c9291e;
}

.editpost-container .container .card form input[type="file"] {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
}

.editpost-container .container .card form .postTitle {
  width: 100%;
  border: none;
  color: #222;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  background-color: transparent;
}

.editpost-container .container .card form .postTitle:focus {
  outline: none;
  box-shadow: none;
}

.editpost-container .container .card form .postTitle::placeholder {
  color: #2224;
  font-size: 2rem;
  font-weight: bold;
}

.editpost-container .container .card form .ck-editor__editable {
  min-height: 25vh;
}

.editpost-container .container .card form .submit {
  width: 9rem;
  border: none;
  padding: 0.3rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 4px;
  background-color: #368dd6;
}

.editpost-container .container .card .error {
  color: #f44336;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 786px) {
  .editpost-container .container .card {
    width: 100%;
  }

  .editpost-container .container .card form .submit {
    width: 100%;
  }
}
